.container.special-container-size {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    width: 100%;
    height: 100px;
    background-color: rgb(2, 2, 3);
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.nav-logo {
    height: 120px;
    width: 120px;
    border: 10px double white;
    margin-top: 100px;
    z-index: 10;
    position: sticky;
}



.underline {
    font-family: "Lato", sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    position: relative; /* potrzebne dla pseudo-elementu */
}

.underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px; /* grubość border-bottom */
    width: 0;    /* początkowo ukryty */
    background-color: goldenrod;
    transition: width 1s ease-out; /* płynne rozwijanie */
}

/* klasa aktywna, gdy element jest widoczny */
.underline.visible::after {
    width: 100%; /* rozwija się do pełnej szerokości */
}

.about-content p {
       font-family: "Lato", sans-serif;
       margin-bottom: 25px;
       font-size: 20px;

}

.bg-bricks {
    display: flex;
    background-size: cover;
    background-position: center;
    height: auto;
    min-height: 500px;
  width: 100%;
    background-attachment: fixed;
    position: relative;
    background-image: url("../images/cegly.jpg");
    opacity:  0.7;
}

.food-gallery {
    justify-content: center;
   align-self: center;
    height: 100%;
    align-items: center;
    display: block;
}

.food-image {
    width: 280px;
    height: 280px;
    border: 15px double #f0f0e8;
    margin: 40px 20px;

}

main {
    background-image: url("../images/cegielnia-tlo.jpg");;
    background-size: cover;
    background-position: center;
min-height: 100vh;
    height: auto;
   width: 100%;
    background-attachment: fixed;
    position: relative;
  
}

.main-content {
    margin: 50px auto;
    height: 200px; 
    text-align: center;
    padding-top: 200px;
}

.motto-img {

    max-width: 600px;
    width: 100%;
    display: block;
    text-align: center;
    margin: 80px auto 20px auto;
    z-index: 1550;
    position: sticky;
}

.fade-in-image {
  opacity: 0;                /* niewidoczna początkowo */
  transform: translateY(20px); /* lekko przesunięta w dół */
  animation: fadeIn 1.5s ease-out forwards; /* animacja trwa 1.5s, płynne pojawienie */
  animation-delay: 0.5s;     /* opcjonalne opóźnienie, np. pół sekundy */
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0); /* wraca do swojej pozycji */
  }
}

 .gradient-top {
    position: absolute;
    background: linear-gradient(to bottom,  #020203 1%, rgba(255,0,0,0) 100%);
    top: 0;
    width: 100%;
    height: 10vh;
} 

 .gradient-bottom {
    position: absolute;
    background: linear-gradient(to top,  #F9F8F6 1%, rgba(255,0,0,0) 100%);
    bottom: 0;
    width: 100%;
    height: 80vh;
} 

.main-title {
    font-family: "Lato", sans-serif;
    border: 10px double white;
    color: white;
    font-size: 55px;
    
}

.nav-box {
    margin-top: 100px;
}

.nav-menu {
    width: 100%;
    text-align: right;
}
.nav-menu li {
    text-align: center;
    width: 140px;
    display: inline-block;
    margin: 0 15px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-family: "Lato", sans-serif;
    font-size: 22px;
    padding: 3px 8px;
    border: 10px double transparent;
  
}

.nav-menu li:hover {
    padding: 3px 8px;
    border: 10px double white;
    transition: border 0.8s ease;
}

 .bg-bottom {
    background-size: cover;
    background-position: center;
    height: 300px;
   width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
    background-attachment: fixed;
    position: relative;
    background-image: linear-gradient(0deg, #F9F8F699 0%, #020203 82%), url("../images/tlo-dolne.jpg");
    display: flex;
} 

.presentation-section {
     background: #F9F8F6;
     height: auto;
     padding-bottom: 80px;
}



footer {
    width: 100%;
    height: auto;
    background-color: rgb(2, 2, 3);

}


.map-title-box {
    max-width: 900px;
    margin: 60px auto;
}

.map-title-one {
    text-align: left;
    font-family: "Lato", sans-serif;
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 20px;
       font-style: italic;
}

.map-title-two {
   text-align: right;
    font-family: "Lato", sans-serif;
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-style: italic;
}
.map-section {
 background: #F9F8F6;
 display: flex;
}

.map-style {
text-align: center;
justify-content: center;
margin: 60px auto;
}

.bg-bottom-text {
    font-size: 30px;
    color: white;
    text-align: center;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
    align-self: center;
    font-style: italic;
}

.flip-in {
    opacity: 0;
    transform: perspective(1000px) rotateY(-180deg);
}

.flip-in.visible {
    animation: flipInY 1.2s ease-out forwards;
}


@keyframes flipInY {
    0% {
        opacity: 0;
        transform: perspective(1000px) rotateY(-180deg);
    }
    30% {
        transform: perspective(1000px) rotateY(-100deg);
        opacity: 0.2;
    }
    60% {
        transform: perspective(1000px) rotateY(-50deg);
        opacity: 0.6;
    }
    100% {
        transform: perspective(1000px) rotateY(0deg);
        opacity: 1;
    }
}

.contact-section {
        padding: 50px 0;
}

.footer-box {
    margin-bottom: 100px;
}

.footer-box > * {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
}


.footer-box > a:hover {
    color: white;
    text-decoration: none;
}

.footer-box h6 {
    font-size: 22px;
    margin-bottom: 20px;
}

.address-logo {
width: 200px;
height: 200px;
border-right: 1px solid white;
padding-right: 5px;
}

.icon-size {
    width: 20px !important;
}
.container.container-end > * {
    margin-bottom: 0;
    padding-bottom: 0;
}

.footer-info > * {
    color: white;
    text-decoration: none;
}

.footer-info > *:hover {
    color: white;
    text-decoration: none;
}